@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logoBounce {
    animation-duration: 2s;
    animation-name: roter;
    transition: ease-in-out;
    position: relative;
}

@keyframes roter {
    0% {
        left: -25rem;
        transform: rotate(0deg);
    }
    80% {
        left: 0rem;
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

::-webkit-scrollbar {
    display: none;
}

/* file input button */

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
